.catalog {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px #000 solid;
    cursor: pointer;
}

.product{
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px #000 solid;
}
.product__colors{
    margin-top: 10px;
    display: flex;
}
.product__color{
    width: 10px;
    height: 10px;
    border: 1px #000 solid;
}
.item-size{
    border: 1px solid #d7d7d7;
    background: #fff;
    cursor: pointer;
}
.item-size:focus{
    background: rgb(246, 76, 76);
}